@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply antialiased bg-gray-50 text-gray-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Bonita */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Utilitário para esconder scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media print {
  /* Esconde tudo no corpo da página */
  body * {
    visibility: hidden;
  }

  /* Mostra apenas a área de impressão */
  #area-impressao, #area-impressao * {
    visibility: visible;
  }

  /* Posiciona o cupom no topo da folha */
  #area-impressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Remove margens automáticas do navegador */
  @page {
    margin: 0;
    size: auto;
  }
}